In [1]:
# створення "багаторядкового" рядка

menu = """
1 - kuaisushgfs
2 - kxjcchksjhfbs
3 - lxkjjhgxlkjg
"""
print(menu)

1 - kuaisushgfs
2 - kxjcchksjhfbs
3 - lxkjjhgxlkjg

In [6]:
# методи обробки рядків

test_string = ' kjagJHGka656sjJKH66GG333db'
# print(test_string[1])
# print(test_string.upper())
# print(test_string.lower())
print(test_string.split('6'))

['kjagJHGka', '5', 'sjJKH', '', 'GG333db']

In [15]:
print(test_string.strip())

kjagJHGka656sjJKH66GG333db

In [14]:
# пошук елемента в рядку

print(test_string.find('6', 1, 10))
print(test_string.rfind('6'))

9
18

In [1]:
# створення рядка методом join

my_tuple = ('www', 'eee', 'ttt')
join_string = '#'.join(my_tuple)
print(join_string)
print(type(join_string))

www#eee#ttt
<class 'str'>

In [18]:
# метод replace

test_string = ' kjagJHGka656sjJKH66GG333db'
new_string = test_string.replace('HGka65', '111')
print(new_string)

 kjagJ1116sjJKH66GG333db

In [22]:
# форматування рядка за допомогою f-рядка

a = 5
b = 'ggg'
print(f"hello, my name is {b} and i'm {a} years old")
print()

hello, my name is ggg and i'm 5 years old

In [23]:
# форматування рядка за допомогою format

txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [26]:
# форматування рядка за допомогою format

txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36