DataFrame.loc[rows, columns]
DataFrame.iloc[rows, columns]

In [67]:
import pandas as pd

students_df = pd.DataFrame({
    'Імена': ['Anna', 'Bohdan', 'Olena', 'Ivan', 'Kateryna'],
    'Вік': [21, 22, 20, 21, 23],
    'Спеціальність': ['Math', 'Physics', 'Biology', 'Math', 'Physics']
    }, index=['st1', 'st2', 'st3', 'st4', 'st5'])

In [9]:
display(students_df)
print(students_df)

        Імена  Вік Спеціальність
st1      Anna   21          Math
st2    Bohdan   22       Physics
st3     Olena   20       Biology
st4      Ivan   21          Math
st5  Kateryna   23       Physics

        Імена  Вік Спеціальність
st1      Anna   21          Math
st2    Bohdan   22       Physics
st3     Olena   20       Biology
st4      Ivan   21          Math
st5  Kateryna   23       Physics

In [15]:
students_df.loc['st2':'st4', :]

      Імена  Вік Спеціальність
st2  Bohdan   22       Physics
st3   Olena   20       Biology
st4    Ivan   21          Math

In [51]:
students_df = pd.DataFrame({
    'Імена': ['Anna', 'Bohdan', 'Olena', 'Ivan', 'Kateryna'],
    'Вік': [21, 22, 20, None, 23],
    'Спеціальність': ['Math', 'Physics', 'Biology', 'Math', 'Physics']
    }, index=[3, 1, 2, 5, 4])

subset = students_df.loc[2:4, 'Вік']
print(subset)

2    20.0
5     NaN
4    23.0
Name: Вік, dtype: float64

In [21]:
subset = students_df.loc[['st1', 'st3'], ['Імена', 'Спеціальність']] 
print(subset)

     Імена Спеціальність
st1   Anna          Math
st3  Olena       Biology

In [23]:
subset = students_df.iloc[0, 0]
print(subset)

Anna

In [24]:
subset = students_df.iloc[1:4, 0:2]
print(subset)

      Імена  Вік
st2  Bohdan   22
st3   Olena   20
st4    Ivan   21

In [27]:
subset = students_df.iloc[[0, 2], [0, 2]]
print(subset)

     Імена Спеціальність
st1   Anna          Math
st3  Olena       Biology

In [32]:
subset = students_df.loc[students_df['Спеціальність'] == 'Physics']
print(subset)

        Імена  Вік Спеціальність
st2    Bohdan   22       Physics
st5  Kateryna   23       Physics

In [37]:
print(0 & 1)
print(1 and 1 | 0 or (1 and not 0))

0
1

In [ ]:
dataframe[(<перша умова "і">)&(<друга умова "і">)|(<умова "або">)]

In [38]:
subset = students_df[(students_df['Спеціальність'] == 'Math')&(students_df['Вік'] > 20)]
print(subset)

    Імена  Вік Спеціальність
st1  Anna   21          Math
st4  Ivan   21          Math

In [42]:
students_df['Спеціальність'] == 'Math'

st1     True
st2    False
st3    False
st4     True
st5    False
Name: Спеціальність, dtype: bool

In [43]:
subset = students_df[(students_df['Спеціальність'] == 'Math')|(students_df['Спеціальність'] == 'Physics')]
print(subset)

        Імена  Вік Спеціальність
st1      Anna   21          Math
st2    Bohdan   22       Physics
st4      Ivan   21          Math
st5  Kateryna   23       Physics

In [48]:
students_df[students_df['Спеціальність'].isin(['Math', 'Physics'])]

        Імена  Вік Спеціальність
st1      Anna   21          Math
st2    Bohdan   22       Physics
st4      Ivan   21          Math
st5  Kateryna   23       Physics

In [49]:
students_df[~students_df['Спеціальність'].isin(['Math', 'Physics'])]

     Імена  Вік Спеціальність
st3  Olena   20       Biology

In [52]:
students_df[students_df['Вік'].isna()]

  Імена  Вік Спеціальність
5  Ivan  NaN          Math

In [68]:
s = students_df[students_df['Вік'].notna()]
print(s)

        Імена  Вік Спеціальність
st1      Anna   21          Math
st2    Bohdan   22       Physics
st3     Olena   20       Biology
st4      Ivan   21          Math
st5  Kateryna   23       Physics

In [69]:
multiindex= pd.MultiIndex.from_arrays([['Math', 'Physics', 'Biology', 'Math', 'Physics'],
                                       ['M19', 'P18', 'B20', 'M19', 'P17'],
                                       ['Anna', 'Bohdan', 'Olena', 'Ivan', 'Kateryna']],
                                      names=['Спеціальність', 'Група', 'Імена'])

print(multiindex)

MultiIndex([(   'Math', 'M19',     'Anna'),
            ('Physics', 'P18',   'Bohdan'),
            ('Biology', 'B20',    'Olena'),
            (   'Math', 'M19',     'Ivan'),
            ('Physics', 'P17', 'Kateryna')],
           names=['Спеціальність', 'Група', 'Імена'])

In [70]:
multiindex= pd.MultiIndex.from_tuples([('Math',    'M19', 'Anna'),
                                       ('Physics', 'P18', 'Bohdan'),
                                       ('Biology', 'B20', 'Olena'),
                                       ('Math',    'M19', 'Ivan'),
                                       ('Physics', 'P17', 'Kateryna')],
                                      names=['Спеціальність', 'Група', 'Імена'])

print(multiindex)

MultiIndex([(   'Math', 'M19',     'Anna'),
            ('Physics', 'P18',   'Bohdan'),
            ('Biology', 'B20',    'Olena'),
            (   'Math', 'M19',     'Ivan'),
            ('Physics', 'P17', 'Kateryna')],
           names=['Спеціальність', 'Група', 'Імена'])

In [74]:
multiindex_frame = pd.DataFrame({'Спеціальність': ['Math', 'Physics', 'Biology', 'Math', 'Physics'],
                                 'Група': ['M19', 'P18', 'B20', 'M19', 'P17'],
                                 'Імена': ['Anna', 'Bohdan', 'Olena', 'Ivan', 'Kateryna']})
multiindex= pd.MultiIndex.from_frame(multiindex_frame)
print(multiindex)

MultiIndex([(   'Math', 'M19',     'Anna'),
            ('Physics', 'P18',   'Bohdan'),
            ('Biology', 'B20',    'Olena'),
            (   'Math', 'M19',     'Ivan'),
            ('Physics', 'P17', 'Kateryna')],
           names=['Спеціальність', 'Група', 'Імена'])

In [76]:
students_df = pd.DataFrame({'Вік': [21, 22, 20, 21, 23],
                            'Середній бал': [21, 22, 20, 21, 23]},
                          index=multiindex)
print(students_df)

                              Вік  Середній бал
Спеціальність Група Імена
Math          M19   Anna       21            21
Physics       P18   Bohdan     22            22
Biology       B20   Olena      20            20
Math          M19   Ivan       21            21
Physics       P17   Kateryna   23            23

In [77]:
students_df

                              Вік  Середній бал
Спеціальність Група Імена
Math          M19   Anna       21            21
Physics       P18   Bohdan     22            22
Biology       B20   Olena      20            20
Math          M19   Ivan       21            21
Physics       P17   Kateryna   23            23

In [78]:
students_df.loc['Physics']

                Вік  Середній бал
Група Імена
P18   Bohdan     22            22
P17   Kateryna   23            23

In [79]:
students_df.loc['Physics', 'P17']

C:\Users\Adm\AppData\Local\Temp\ipykernel_16664\2899922484.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  students_df.loc['Physics', 'P17']

          Вік  Середній бал
Імена
Kateryna   23            23