In [18]:
import pandas as pd

students_data = {
    'Імена': ['Anna', 'Bohdan', 'Olena', 'Ivan', 'Kateryna'],
    'Вік': [21, 22, 20, 21, 23],
    'Спеціальність': ['Math', 'Physics', 'Biology', 'Math', 'Physics']
}

students_df = pd.DataFrame(students_data)
students_df

      Імена  Вік Спеціальність
0      Anna   21          Math
1    Bohdan   22       Physics
2     Olena   20       Biology
3      Ivan   21          Math
4  Kateryna   23       Physics

In [4]:
total_age = students_df['Вік'].sum()
print(total_age)

107

In [5]:
average_age = students_df['Вік'].mean()

21.4

In [16]:
median_age = students_df['Вік'].median()
print(median_age)

21.0

In [ ]:
min_age = students_df['Вік'].min()
max_age = students_df['Вік'].max()

In [8]:
std_age = students_df['Вік'].std()
variance_age = students_df['Вік'].var()
print(variance_age)

1.2999999999999998

In [11]:
count_age = students_df['Вік'].count()
print(count_age)

4

In [12]:
unique_specialties = students_df['Спеціальність'].nunique()
print(unique_specialties)

3

In [19]:
first_quartile_age = students_df['Вік'].quantile(0.75)# 21.0
first_quartile_age

22.0

In [20]:
# Індекс максимального значення.
idx_max_age = students_df['Вік'].idxmax()
print(idx_max_age)

4

In [ ]:
idx_min_age = students_df['Вік'].idxmin()

In [21]:
product_age = students_df['Вік'].prod()
type(students_df['Вік'].prod())

numpy.int64

In [22]:
sem_age = students_df['Вік'].sem()
print(sem_age)

0.5099019513592784

grouped.agg(func=None, *args, **kwargs)

In [25]:
grouped = students_df.groupby('Спеціальність')
min_max_age = grouped['Вік'].agg(['min', 'max', 'mean'])

#print(type(grouped))
print(min_max_age)

               min  max  mean
Спеціальність
Biology         20   20  20.0
Math            21   21  21.0
Physics         22   23  22.5

In [27]:
result = grouped['Вік'].agg(lambda x: x.max())
print(result)

Спеціальність
Biology    20
Math       21
Physics    23
Name: Вік, dtype: int64

grouped.transform(func=None, *args, **kwargs)

In [28]:
students_df.groupby('Спеціальність')['Вік'].transform('mean')

0    21.0
1    22.5
2    20.0
3    21.0
4    22.5
Name: Вік, dtype: float64

In [29]:
students_df['Середній вік'] = students_df.groupby('Спеціальність')['Вік'].transform('mean')

In [30]:
students_df

      Імена  Вік Спеціальність  Середній вік
0      Anna   21          Math          21.0
1    Bohdan   22       Physics          22.5
2     Olena   20       Biology          20.0
3      Ivan   21          Math          21.0
4  Kateryna   23       Physics          22.5

In [31]:
students_df['Старше за середнє'] = students_df.groupby('Спеціальність')['Вік'].transform(lambda x: x - x.mean())

print(students_df)

      Імена  Вік Спеціальність  Середній вік  Старше за середнє
0      Anna   21          Math          21.0                0.0
1    Bohdan   22       Physics          22.5               -0.5
2     Olena   20       Biology          20.0                0.0
3      Ivan   21          Math          21.0                0.0
4  Kateryna   23       Physics          22.5                0.5

In [ ]:
DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, na_position='last')

In [33]:
import pandas as pd

students_data = {
    'Імена': ['Anna', 'Bohdan', 'Olena', 'Ivan', 'Kateryna'],
    'Вік': [21, 22, 20, 21, 23],
    'Спеціальність': ['Math', 'Physics', 'Biology', 'Math', 'Physics']
}

students_df = pd.DataFrame(students_data)

In [35]:
sorted_df = students_df.sort_values(by='Вік')
print(sorted_df)
print(type(sorted_df))

      Імена  Вік Спеціальність
2     Olena   20       Biology
0      Anna   21          Math
3      Ivan   21          Math
1    Bohdan   22       Physics
4  Kateryna   23       Physics
<class 'pandas.core.frame.DataFrame'>