In [1]:
import pandas as pd

df = pd.DataFrame({"A":[2,5,8], "B":[4,5,6]}, index=["a","b","c"])
df

   A  B
a  2  4
b  5  5
c  8  6

In [2]:
df.sem()

A    1.732051
B    0.577350
dtype: float64

In [3]:
df.sem(axis=1)

a    1.0
b    0.0
c    1.0
dtype: float64

In [10]:
students_df = pd.DataFrame({
    'Імена': ['Anna', 'Bohdan', 'Olena', 'Ivan', 'Kateryna'],
    'Вік': [21, 22, 20, 21, 23],
    'Спеціальність': ['Math', 'Physics', 'Biology', 'Math', 'Physics']
    }, index=[3, 1, 2, 5, 4])

print(students_df)
print()
# students_df.sort_index(inplace=True)
# print(students_df)
print()
subset = students_df.loc[2:4, 'Вік']
print(subset)

      Імена  Вік Спеціальність
3      Anna   21          Math
1    Bohdan   22       Physics
2     Olena   20       Biology
5      Ivan   21          Math
4  Kateryna   23       Physics


2    20
5    21
4    23
Name: Вік, dtype: int64

In [17]:
# Вибірка студентів, які вивчають фізику, за допомогою loc
physics_students = students_df.loc[students_df['Спеціальність'] == 'Physics']

# Вибірка студентів за конкретними індексами за допомогою iloc
specific_students = students_df.iloc[[1, 4]]

In [18]:
print(physics_students)
print()
print(specific_students)

      Імена  Вік Спеціальність
1    Bohdan   22       Physics
4  Kateryna   23       Physics

      Імена  Вік Спеціальність
1    Bohdan   22       Physics
4  Kateryna   23       Physics