In [1]:
import pandas as pd
import numpy as np
phones = pd.DataFrame({
    'Модель': ['iPhone X', 'iPhone 12', 'iPhone 14', 'Samsung Galaxy S23', 'Samsung Galaxy S22'],
    'Рік випуску': [2017, 2020, 2022, 2023, 2022],
    'Ціна': [12000, 16000, 29000, 40000, 26000]
})

print(phones)

               Модель  Рік випуску   Ціна
0            iPhone X         2017  12000
1           iPhone 12         2020  16000
2           iPhone 14         2022  29000
3  Samsung Galaxy S23         2023  40000
4  Samsung Galaxy S22         2022  26000

In [3]:
phones['Ціна'] = np.where(phones['Модель'] == 'iPhone 12', phones['Ціна'] / 2, phones['Ціна'])
phones

               Модель  Рік випуску     Ціна
0            iPhone X         2017  12000.0
1           iPhone 12         2020   8000.0
2           iPhone 14         2022  29000.0
3  Samsung Galaxy S23         2023  40000.0
4  Samsung Galaxy S22         2022  26000.0