In [ ]:
# робота з функціями fillna(), isnull(), dropna()
#

In [25]:
import pandas as pd

data = {'ID': [1, 2, 4], 'Name': ['Alice', 'Bob', None]}
df = pd.DataFrame(data)

print(df)
print()
df.fillna('-', inplace=True)
print(df)

   ID   Name
0   1  Alice
1   2    Bob
2   4   None

   ID   Name
0   1  Alice
1   2    Bob
2   4      -

In [22]:
print(pd.isnull(df))

      ID   Name
0  False  False
1  False  False
2  False  False

In [17]:
data = [[1, 'Alice'], [2, 'Bob']]
df = pd.DataFrame(data, columns=['ID', 'Name'])

print(df)

   ID   Name
0   1  Alice
1   2    Bob

In [18]:
print(df.dtypes)

ID       int64
Name    object
dtype: object

In [14]:
print(df.shape)
print(df.columns)

(2, 2)
Index([1, 2], dtype='int64')

In [24]:
import pandas as pd

data = {'ID': [1, 2, 4], 'Name': ['Alice', 'Bob', None]}
df = pd.DataFrame(data)

print(df)
df = df.dropna()
print()
print(df)

   ID   Name
0   1  Alice
1   2    Bob
2   4   None

   ID   Name
0   1  Alice
1   2    Bob